spring:
  application:
    name: logmate
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  jackson:
    time-zone: Asia/Seoul

server:
  port: 443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: ${KEYSTORE_PASSWORD}
    key-store-type: PKCS12

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.servlet: DEBUG
    org.springframework.security: DEBUG

logmate:
  pull-url: ${LOGMATE_PULL_URL}
  pull-default-interval-sec: ${LOGMATE_PULL_DEFAULT_INTERVAL:10}
  push-base-url: ${LOGMATE_PUSH_BASE_URL}
  push-path-template: ${LOGMATE_PUSH_PATH_TEMPLATE:/api/v1/streaming/logs/{parserType}/{agentId}/{thNum}}